@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-slide {
    display: flex;
    width: max-content;
    animation: slide 18s linear infinite;
}
